*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    border: none;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Container {
    width: 325px;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    align-items: center;

}

.Cell {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.5em;
    transition: 0.5s;
}

.Cell:hover,
.on {
    transform: scale(1.05);
}

.Cell:active {
    transition: 0.25s;
}

.Cell:nth-child(1) {
    background-color: #ee5253;
}

.Cell:nth-child(1):hover {
    background-color: #ff6b6b;
}

.Cell:nth-child(2) {
    background-color: #ff9f43;
}

.Cell:nth-child(2):hover {
    background-color: #feca57;
}

.Cell:nth-child(3) {
    background-color: #f368e0;
}

.Cell:nth-child(3):hover {
    background-color: #ff9ff3;
}

.Cell:nth-child(4) {
    background-color: #0abde3;
}

.Cell:nth-child(4):hover {
    background-color: #48dbfb;
}

button {
    background-color: #222f3e;
    color: #fff;
    padding: 1em;
    transition: 0.5s;
}

button:hover {
    background-color: #1dd1a1;
    color: #000;
}